.membership-card {
    transition: all 0.3s ease;
    cursor: pointer;
}

.membership-card:hover {
    transform: translateY(-5px);
}

.membership-img {
    max-height: 250px;
    width: 80%;
    object-fit: cover; /* Prevent stretching */
    object-position: center;
}

.membership-card p {
    font-size: 0.9rem;
    line-height: 1.3;
}
